﻿@model Covid19Report.Services.CountryReport

@{
    ViewData["Title"] = "Country Statistics";
}

<h1>Country Statistics</h1>

<div>
    <h3> @Model.Country</h3>
    <img src="@Model.Flag" />
    <ul class="list-group">
        <li class="list-group-item">Confirmed: @Model.Confirmed</li>
        <li class="list-group-item">Critical: @Model.Critical</li>
        <li class="list-group-item">Recovered: @Model.Recovered</li>
        <li class="list-group-item">Deaths: @Model.Deaths</li>
    </ul>
</div>
