﻿@model IEnumerable<Covid19Report.Services.CountryModel>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form class="form-group" asp-controller="Home" asp-action="CountryStatistics" >
        Search for a specific country: <input class="text-body" type="text" name="country"/>
        <input class="btn btn-primary" type="submit" value="Search"/>
    </form>
</div>

<div class="jumbotron">
    <ul class="list-group">
        @foreach (var country in Model)
        {
            <li class="list-group-item">
                @Html.ActionLink(country.Name,"CountryReport","Home",new
                {
                    alpha2Code = country.Alpha2Code
                })
                
                <img src="@country.Flag"  />
            </li>
        }
    </ul>
</div>